<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome {{ user.nickname }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <button id="theme-toggle">Toggle Dark Mode</button>
    <div class="wordle-container">
        <h1>Wordle Game</h1>
        <div id="game-board"></div>
        <div id="keyboard"></div>
        <p id="message"></p>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
<footer>
    <a href="{{ url_for('logout') }}">Logout</a>
    {% if user.class_id == 2 %}
    <a href="{{ url_for('admin_panel') }}">Go to Admin Panel</a>
    {% endif %}
    <p>&copy; 2025 Skullcandy limited</p>
</footer>
</html>
