<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Gradebook{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Gradebook Applikasjon</h1>
        <nav>
            <a href="{{ url_for('index') }}">Hjem</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; William Ditlev Hanssen </p>
    </footer>
</body>
</html>
